In [3]:
from matplotlib import pylab
from matplotlib import pyplot as plt
#fig=plt.figure(figsize=(16,9),dpi=100)
#x=[1,2,5]
#fig,ax=plt.subplots(dpi=100)
#ax.plt(x,x+1,color='r')

In [4]:
import numpy as np
x=np.linspace(0,10,35)
y=x*x+2
print(x)
print(y)

[ 0.          0.29411765  0.58823529  0.88235294  1.17647059  1.47058824
  1.76470588  2.05882353  2.35294118  2.64705882  2.94117647  3.23529412
  3.52941176  3.82352941  4.11764706  4.41176471  4.70588235  5.
  5.29411765  5.58823529  5.88235294  6.17647059  6.47058824  6.76470588
  7.05882353  7.35294118  7.64705882  7.94117647  8.23529412  8.52941176
  8.82352941  9.11764706  9.41176471  9.70588235 10.        ]
[  2.           2.08650519   2.34602076   2.77854671   3.38408304
   4.16262976   5.11418685   6.23875433   7.53633218   9.00692042
  10.65051903  12.46712803  14.4567474   16.61937716  18.9550173
  21.46366782  24.14532872  27.          30.02768166  33.2283737
  36.60207612  40.14878893  43.86851211  47.76124567  51.82698962
  56.06574394  60.47750865  65.06228374  69.8200692   74.75086505
  79.85467128  85.13148789  90.58131488  96.20415225 102.        ]

In [5]:
fig=plt.figure()

In [12]:
import pandas as pd
fi=pd.read_csv("D:\Teaching\MSBI\Kamini\dis_ff.txt")
fi.head()

,fulfillment_campaign_id_del,ftp_file_name,list_key
0,NaN,DE_FTP_443889_082134723.psv,DE_443889_082134723
1,32.0,NaN,TestList
2,69.0,NaN,NaN
3,70.0,NaN,NaN
4,70.0,LU_1234_23587.psv,LU_1234_27550

In [13]:
fi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
fulfillment_campaign_id_del    49 non-null float64
ftp_file_name                  47 non-null object
list_key                       35 non-null object
dtypes: float64(1), object(2)
memory usage: 1.2+ KB